@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "General Sans Var";
    font-weight: 100 900;
    src: url(/fonts/generalSans-variable.woff2) format("woff2");
    font-display: swap;
  }
}