---
import { CollectionEntry, getCollection } from 'astro:content';
import ResourcePost from '../../layouts/ResourcePost.astro';

export async function getStaticPaths() {
  const posts = await getCollection('resources');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<'resources'>;

const post = Astro.props;
const { Content } = await post.render();
---

<ResourcePost {...post.data}>
  <h1>{post.data.title}</h1>
  <Content />
</ResourcePost>
