---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="w-screen font-gs">
  <nav>
    <HeaderLink href="/">
      <div>{SITE_TITLE}</div>
    </HeaderLink>
    <HeaderLink href="/work">Work</HeaderLink>
    <HeaderLink href="/resources">Resources</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="/contact">Contact</HeaderLink>
  </nav>
</header>
